/*
 *= require_tree 
 *= require_self
 */


$main-color:#228b22;
$accent-color:red;
$base-color: #363636;

 body{
  font-size:16px;
  color:$base-color;
  box-sizing: border-box;
  font-family: Helvetica, 'Yu Gothic', YuGothic, HiraKakuProN-W3, Meiryo, sans-serif;
  margin: 0;
}

li{
  list-style: none;
}

ul{
  margin: 0;
  padding: 0;

}

a{
  text-decoration: none;
  color:$base-color;
}

h2{
  margin: 0;
}

.mb50{
  margin-bottom: 50px;
}

.wrapper{
  max-width:1100px;
  margin:0 auto;
  padding:0 20px;
}

.notice{
  color: $main-color;
  font-weight: bold;
}

.alert-success{
  color: $main-color;
  background-color: rgba(0,255,0,0.2);
  padding: 10px;
  margin-bottom: 30px;
}


// モジュール
.btn {
  max-width: 100px;
  width: 100%;
  border-radius: 3px;
  text-align: center;
  padding: 5px 0;
  display: block;
  font-size: 16px;
  height: fit-content;
  &:hover{
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    cursor: pointer;
  }
}


// エラーメッセージ
#error_explanation{
  li{
    color: $accent-color;
    background-color: rgba(255,0,0,0.2) ;
    padding: 10px;
    margin-bottom: 30px;
  }
}

.field_with_errors{
  display: inline;
}


//header
.header{
  background-color: $main-color;
  padding: 30px;
  margin-bottom: 50px;

  h1{
    font-size: 24px;
    .logo{
      color: #fff;
    }
  }
}

// footer
.footer{
  padding: 30px;
  background-color: $main-color;
  color:#fff;
}

// subtitle
.sub-title{
  margin-bottom: 30px;
  .wrapper{
    display: flex;
    justify-content: space-between;
    h2{
      padding-left: 10px;
      border-left: 5px solid $main-color;
    }
    .add-post{
      border: 1px solid $main-color;
      background-color: #fff;
      color: $main-color;
      height: fit-content;
    }
  }
}

// index
.posts-index{
  margin-bottom: 50px;
  .post{
    border: 1px solid $base-color;
    margin-bottom: 30px;
    padding: 30px;
    border-radius:3px;
    &:hover{
      box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    }
    .post-edit{
      border: 1px solid $base-color;
    }
  
    .post-delete{
      button{
        border: 1px solid $accent-color;
        background-color: #fff;
        color: $accent-color;
      }
    }
  }
}

// form
.form{
  margin-bottom: 30px;

  .form-name{
    margin-bottom: 30px;
    label{
      font-size: 16px;
      padding-right: 15px;
    }
    input{
      max-width: 300px;
      width: 100%;
    }
  }

  .form-textarea{
    margin-bottom: 30px;
    label{
      padding-right: 15px;
      vertical-align: top;
    }
    textarea{
      max-width: 300px;
      width: 100%;
      height: 200px;
    }
  }
  .form-submit{
    input{
      background-color: #fff;
      border: 1px solid $main-color;
      color: $main-color;
    }
  }

}

// edit
.edit{
  margin-bottom: 50px;
  .edit-to-index{
    border: 1px solid #363636;
    margin-bottom: 30px;
  }
  
  .edit-to-show{
    border: 1px solid #363636;
  }
}

// new
.new{
  margin-bottom: 50px;
  .new-to-index{
    border: 1px solid #363636;
  }
}


// show
.show{
  .table-show{
    td{
      padding:20px;
    }
    margin-bottom: 10px;
  }
  .show-to-edit{
    border: 1px solid #363636;
    margin-bottom: 30px;
  }
  .show-delete{
    border: 1px solid $accent-color;
    background-color: #fff;
    color: $accent-color;
    margin-bottom: 30px;
  }
  .show-to-index{
    border: 1px solid #363636;
    margin-bottom: 30px;
  }
}